main {
  max-width: 800px; /* change this at will */
  margin: 0 auto;
  padding: 20px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: linear-gradient(to bottom, pink, purple)
}

h1, h2, h3 {
  font-family: "Ribeye", serif;
    font-color:white;
  font-weight: 400;
  font-style: normal;
}
header h1 {
  text-align: center;
}
h1 {
  font-size: 6rem;
  color: #white;
}
image{text-align: center}